.footer {
  background-color: #121212;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  padding-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-section p {
  margin: 5px 0;
}

.social-icons a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffd700; /* Gold color on hover */
}

.footer-bottom {
  background-color: #282828;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9em;
}